.THIS .grey_border{
    border: 1px solid lightgrey;
}
.THIS .slds-form-element__legend.slds-form-element__label{
    display: none;
}
.THIS .padding-35 {
    padding-top: 35px;
}

.THIS .padding-top-31{
    padding-top:31px;
}
.THIS .firstQuadrent {
    border-bottom: 0px;
    border-right: 0px;
    height: 250px;
    overflow-y: scroll;
}
.THIS .padding-left-10{
    padding-left:10px;
}
.THIS .header{
    background-color: rgb(22, 50, 92);
    color:white;
    padding:7.5px;
}
.THIS .no-margin{
    margin:0px;
}
.THIS .margin-bottom-1{
    margin-bottom: 1px;
}
.THIS .pointer{
    cursor: pointer;
}
.THIS .height-450{
    height:450px;
    overflow-y: scroll;
}
.THIS .slds-pill{
    font-size: 14px;
    width: 35.4rem;
    margin-left: 13px!important;
}

.THIS .slds-pill__action{
    margin-right: -5px;
    padding: 0.3rem;
    padding-left: 1rem;
}